<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"><link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
    <div class="container">
        <header>

            <!-- !<div>
            !to add additional features drop side
        !</div>  -->

        <div class="city-name">
            <h3>Mumbai</h3>
            <h3>,In</h3>
        </div>

        <div class="day-time">
            <h5>Mon, 2.30pm</h5>
        </div>

        <div class="add_city">
            <form action="/" method="POST">
                <input type="text" name="city" class="ghost-input" placeholder="Enter Your City">
            </form>
        </div>

        </header>  

        <main>
            <div>
                <!-- ? SVG $ wheather -->
                <img src="" alt=""><p>Stormy</p>
            </div>

            <div class="value">
                <h2>22 C</h2>
            </div>

            <div>
                <!-- ? min max temp -->
            </div>
        </main>
        

    </div>
</body>
</html>