@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap');

*{
    
    margin: 0;
    padding: 0;    
    /* background-color: #000; */


}


.card{
    margin-top: 8%;
    margin-left: 38.4%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #c5f3ff;
    overflow: hidden;


}
input, .toggle{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 14px;
    left: 16px;
    outline: none;
    z-index: 10;

}

input{
    opacity: 0;
}
.toggle{
    pointer-events: none;
    text-align: center;
    background-color: #c5f3ff ;
    font-size: 21.6px;
    transition: 0.5s;
    box-shadow: 0 0 0 0 rgb(223, 8, 162);
}

input:checked ~ .toggle{
    box-shadow: 0 0 0 500px red;
    background-color: red;
    transform: rotate(270deg);

}
.imgBx, .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.details{
    box-sizing: border-box;
    z-index: 11;    
    pointer-events: none;
    opacity: 0;    
    margin-top: 20px;
    transition: 0.9s;
    
}
input:checked ~ .details{
    margin-top: 20px;
    transition: 0.9s;
    opacity: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-title{
    margin-top: 2%;
}
.mb-3, .mb-4, .mb-5, .mb-6{
    max-width: 7.3rem; 
    max-height: 8.5rem;   
    overflow: hidden; 
    border-radius: 8.4px;
    border-color: rgb(75, 255, 231);
    justify-content: center;
    /* margin-top: 3%; */
}
.mb-3{
    margin-left: 1.4rem ;
    margin-top: 2.3rem;
    margin-top: 13%;
}
.fa-thermometer-half{
    margin-top: 23%;

}
.mb-3 .card-title i{
    color: rebeccapurple;
}
.fa-thermometer-half, .fa-wind, .fa-raindrops, .fa-gauge, .speedometer{
    font-size: 391.6%;  
    /* margin-top: 2%; */
    
}
.mb-4{
    margin: -8.5rem 10.2rem;
    
}
.fa-wind{
    margin-top: 22.3%;
}
.mb-5{
    margin: 10.2rem 1.4rem;
}
.fa-raindrops{
    margin-top: 29%;
}
.mb-6{
    margin: -18.7rem 10.2rem;
    
}
.speedometer{
    margin-top: -3.1%;
}
.card-toggle-text, .card-value{
    font-family: 'Glory', sans-serif;
    display: flex;
    justify-content: center;
    
}
.card-toggle-text{
    margin-top: 8px;
    font-size: medium;
}
.card-value{
    margin-top: 4px;
    font-size: large;
    font-weight:bolder
}
