<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
  <title>Document</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="container">
    <div class="card">
      <input type="checkbox" />

      <div class="toggle"><i class="fas fa-bars"></i></div>
      <div class="imgBx">
        <!-- ?all the content of card -->
      </div>
      <div class="details">
        <!-- ?all the 4 card in here -->
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-temperature-list"></i></h5>
            <h6 class="card-text">Feels Like</h6>
            <p class="card-text">25 Deg</p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-4">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-wind"></i></h5>
            <h6 class="card-text">Wind</h6>
            <p class="card-value">10 km/h</p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-5">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-raindrops"></i></h5>
            <h6 class="card-text">Humidity</i></h6>
            <p class="card-value">50%</p>
          </div>
        </div>
        <div class="card text-white bg-primary mb-6">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-gauge"></i></h5>
            <h6 class="card-text">Pressure</h6>
            <p class="card-value">24.25 in</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>


</html>